body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #FC7A57;
}

h1 {  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#EEFC57;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

header {
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #DF9A57 ;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #FCD757;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #FCD757;
    justify-content: center;
}

.card--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    padding: 15px;
}

.pokemon-image {
    max-width: 100%;
    height: auto;
}

h3 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}